{% extends "page.html" %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Terms of Use'), controller='quavonz', action='terms_of_use' %}</li>
{% endblock %}


{% block subtitle %}{{ _('Terms of Use') }}{% endblock %}


{% block primary %}
<article class="module">
  <div class="module-content">
    <h1 class="page-heading">{{ _('Terms of Use') }}</h1>
    <p>
    These Terms of Use (Terms) apply to the DataStore website and its content, which are provided by Landcare Research New Zealand Limited.  By viewing the content and using this website you agree, and are deemed to be bound by, the following Terms.  If you choose not to be bound by the following Terms, then Landcare Research does not grant you the right to use the website and its content.
    </p>

    <h2>Terms of Use of the Content</h2>

    <p>
    Landcare Research has compiled the data and other information available
    on this site from data derived from numerous sources. The information
    may not be complete, correct or up to date. We do not accept
    responsibility for any actions taken in reliance on it or consequences
    arising from the use of it.
    </p>

    <p>
    <!-- CHECK THIS WITH PAM Each dataset available on this site has copyright and licence conditions specified.-->
    Each dataset available on this site has licence conditions specified.
    Typically (but not exclusively) these licences are chosen from the
    Creative Commons set of licences.
    </p>

    <p>
    Among other things, the Creative Commons licences (3.0 NZ, 4.0 International)
    provide that:<br>
    </p>

    <ul>

      <li>Except as required by law or as otherwise agreed in writing, the data and information are licensed by Landcare Research
      on an "as is" and "as available" basis and without any warranty of any
      kind, either express or implied. </li>
      <li>Subject to any liability that may not be excluded or limited by
      law, Landcare Research shall not be liable on any legal basis
      (including without limitation negligence) and expressly excludes all
      liability for loss or damage howsoever and whenever caused to you. </li>
    </ul>

    <p>
    For specific details and licence conditions refer to the licence link
    (or licence file) associated with each dataset.
    </p>

    <p>
    <i>Attribution</i>
    </p>

    <p>
    We encourage full attribution to authors of the data whenever possible.
    Where a licence requires attribution (e.g. CC-BY) the following
    attribution statements are acceptable:
    </p>

    <p>
    If you publish, distribute or otherwise disseminate a work to the
    public without adapting it:
    </p>

    <p style="margin-left: 50px;">
    <i>If present, use the citation specified as part of the datasets
      metadata</i><br>
    </p>

    <p style="text-indent: 50px;" align="center">OR
    </p>

    <p style="margin-left: 50px;"><i>Author(s). (Year). Title of dataset
      (version if applicable). Retrieved from <a href="http://datastore.landcareresearch.co.nz">http://datastore.landcareresearch.co.nz</a></i><br>
    </p>

    <p style="text-indent: 50px;" align="center">OR
    </p>

    <p style="margin-left: 50px;"><i>Author(s). (Year). Title of dataset
      (version if applicable). doi:xx.xxxx/xxx</i>
    </p>

    <p>
    If you adapt this work in any way or include it in a collection, and
    publish, distribute or otherwise disseminate that adaptation or
    collection to the public, a shortened attribution to Landcare Research
    may be used if fully attributing as above is impracticable:
    </p>

    <p style="margin-left: 50px;">
    <i>"This [work/product/application/etc] uses data sourced from Landcare
      Research."</i>
    </p>

    <p>
    Where practicable, please hyperlink Landcare Research to the web page
    that contains or links to the source data, or to <a href="http://datastore.landcareresearch.co.nz">http://datastore.landcareresearch.co.nz</a>.
    </p>

    <p>
    <i>Waivers</i>
    </p>

    <p>
    If you wish to seek a waiver from certain licence conditions, or to
    negotiate an alternate licence agreement (e.g. for commercial use if
    the specified license of a particular dataset excludes such use) then
    you should contact the Research Data Manager (contact details below).
    </p>

    <p>
    <i>Non applicability of Sui Generis Database Rights</i>
    </p>

    <p>
    The New Zealand Government Open Access Licensing Framework (NZGOAL 2.0)
    encourages use of the Creative Commons 4.0 International licences.  For 
    international law compatibility these licences refer to 'Sui Generis Database Rights'.
    For clarity - Sui Generis Database Rights DO NOT apply in New Zealand.
    </p>
    
    <h2>Terms of Use of the Website</h2>

    <p>
    <i>The DataStore website is protected by copyright and may not be
      reproduced in whole or in part except under licence from Landcare
      Research.</i>
    </p>

    <p>
    You acknowledge that Landcare Research acts as the provider of this
    website.
    </p>

    <p>
    You agree that you will not attempt to alter this site or employ any
    robot, spider, or other device or process or means whatever to use this
    site for any unauthorised purposes. You agree not to:
    </p>

    <ul>

      <li>make excessive traffic demands; </li>
      <li>deliver viruses or forward any other system that is of a
      destructive nature or capable of so being whether alone or in
      combination; </li>
      <li>otherwise engage in any other behaviour that may be reasonably
      expected to inhibit other users from using and enjoying the site; or </li>
      <li>damage or destroy the reputation of Landcare Research. </li>
    </ul>

    <p>
    Landcare Research accepts no obligation to monitor the use of this
    site. However, Landcare Research reserves the right to disclose any
    information as required by law, to block access to you, your agents,
    associates or your company and take such other action as may be
    reasonably necessary to prevent any breach of these terms and
    conditions or any breach of applicable laws. Landcare Research will
    also in its absolute discretion fully co-operate with the relevant
    authorities with respect to any investigation of suspected unlawful
    activity or violation of the website's security.
    </p>

    <p>
    You accept that access to or use of the DataStore website or services
    or pages linked to it will not necessarily be uninterrupted or error
    free.  Landcare Research does not warrant that any information, software or other material accessible from this site is free of viruses or other harmful components.
    </p>

    <p>
    Landcare Research is not responsible for any information contained on
    sites that this website provides links to nor any third party content
    that can be accessed through this website. The inclusion of any link to
    a website is not an endorsement of the linked site.
    </p>

    <p>
    You also acknowledge that Landcare Research may suspend the operation
    of the DataStore website for repair or maintenance work or in order to
    update the contents or functionality of the website.
    </p>

    <p>
    Landcare Research reserves the right to modify or terminate the
    DataStore website for any reason without notice at any time.
    </p>

    <h2>Enquiries or Complaints</h2>

    <p>
    If you have any enquiries or complaints about the information or
    services provided by this website then please address them to:
    </p>

    <p>
    <i>The Research Data Manager<br>
      Manaaki Whenua - Landcare Research<br>
      PO Box 69040<br>
      Lincoln 7640<br>
      NEW ZEALAND</i><br>
    <a href="mailto:DataManager@LandcareResearch.co.nz?subject=Landcare%20Datastore%20Enquiry">DataManager@LandcareResearch.co.nz</a>
    </p>

    <p>
    We will only record your email address if you send us a message. Your
    email address, if supplied to us, will only be used for the purpose for
    which you provided it. We will not use your email address for any other
    purpose, and will not disclose it, without your consent.
    </p>

    <footer> </footer>
    <hr>
    <p>Last updated: <i>These Terms were last updated on 24 June 2015.</i>
    </p>
  </div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}
