{% ckan_extends %}

{% block package_additional_info %}
  {% if pkg_dict.url %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Source') }}</th>
      {% if h.is_url(pkg_dict.url) %}
        <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
      {% else %}
        <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
      {% endif %}
    </tr>
  {% endif %}

  {% if pkg_dict.author %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Authors") }}</th>
      <td class="dataset-details">
        {%- set authors = pkg_dict.author -%}
        {%- for author in authors -%}
          {{ author }}{% if not loop.last %}<br>{% endif %}
        {%- endfor -%}
      </td>
    </tr>
  {% endif %}

  {% if pkg_dict.maintainer_email %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
      <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
    </tr>
  {% elif pkg_dict.maintainer %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
      <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.version %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Version") }}</th>
      <td class="dataset-details">{{ pkg_dict.version }}</td>
    </tr>
  {% endif %}

  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.metadata_modified %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
      <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_modified, with_hours=True) }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.metadata_created %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Created") }}</th>
      <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_created, with_hours=True) }}</td>
    </tr>
  {% endif %}

  {% block extras scoped %}
    {% for extra in h.sorted_extras(pkg_dict.extras) %}
      {% set key, value = extra %}
      <tr rel="dc:relation" resource="_:extra{{ i }}">
        <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
        <td class="dataset-details" property="rdf:value">{{ value }}</td>
      </tr>
    {% endfor %}
    {% if pkg_dict.site_lab_id %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Site Lab ID") }}</th>
        <td class="dataset-details">{{ pkg_dict.site_lab_id }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.site_name %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Site Name") }}</th>
        <td class="dataset-details">{{ pkg_dict.site_name }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.island %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Island") }}</th>
        <td class="dataset-details">{{ pkg_dict.island }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.geopolitical %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Geopolitical Division") }}</th>
        <td class="dataset-details">{{ pkg_dict.geopolitical }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.location_lat %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Latitude") }}</th>
        <td class="dataset-details">{{ pkg_dict.location_lat }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.location_long %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Longitude") }}</th>
        <td class="dataset-details">{{ pkg_dict.location_long }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.collection_date %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Collection Date") }}</th>
        <td class="dataset-details">{{ pkg_dict.collection_date }}</td>
      </tr>
    {% endif %}
    {% if pkg_dict.doi %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("DOI") }}</th>
        <td class="dataset-details">{{ pkg_dict.doi }}</td>
      </tr>
    {% endif %}
  {% endblock %}
{% endblock %}
