{% ckan_extends %}

{% block package_metadata_fields %}

  {{ form.input('site_lab_id',
    label=_('Site Lab ID (X number)'),
    id='field-site_lab_id',
    value=data.site_lab_id,
    error=errors.site_lab_id,
    classes=['control-medium']) }}

  {{ form.input('site_name',
    label=_('Site Name'),
    id='field-site_name',
    value=data.site_name,
    error=errors.site_name,
    classes=['control-medium']) }}

  {{ form.select('island',
     label=_('Island'),
     id='field-island',
     options=[
       {'name':north_island                 ,'value':'North Island'},
       {'name':south_island                 ,'value':'South Island'},
       {'name':enderby_island               ,'value':'Enderby Island'},
       {'name':ewing_island                 ,'value':'Ewing Island'},
       {'name':campbell_island              ,'value':'Campbell Island'},
       {'name':snares_island                ,'value':'Snares Island'},
       {'name':north_island_offshore_island ,'value':'North Island offshore Island'},
       {'name':south_island_offshore_island ,'value':'South Island offshore Island'},
       {'name':other                        ,'value':'Other'}
     ],          
     selected=data.island,
     error=errors.island) }}


  {{ form.select('geopolitical',
     label=_('Geopolitical Division'),
     id='field-geopolitical',
     options=[
       {'name':auckland           ,'value':'Auckland'},
       {'name':bay_of_plenty      ,'value':'Bay of Plenty'},
       {'name':canterbury         ,'value':'Canterbury'},
       {'name':northland          ,'value':'Northland'},
       {'name':gisborne           ,'value':'Gisborne'},
       {'name':hawkes_bay         ,'value':'Hawkes Bay'},
       {'name':manawatu_manganui  ,'value':'Manawatu-Manganui'},
       {'name':marlborough        ,'value':'Marlborough'},
       {'name':nelson             ,'value':'Nelson'},
       {'name':north_island       ,'value':'North Island'},
       {'name':northland          ,'value':'Northland'},
       {'name':otago              ,'value':'Otago'},
       {'name':south_island       ,'value':'South Island'},
       {'name':southland          ,'value':'Southland'},
       {'name':taranaki           ,'value':'Taranaki'},
       {'name':tasman             ,'value':'Tasman'},
       {'name':waikato            ,'value':'Waikato'},
       {'name':wellington         ,'value':'Wellington'},
       {'name':west_coast         ,'value':'West Coast'},
       {'name':subantarctics      ,'value':'Subantarctics'}
     ],
     selected=data.geopolitical,
     error=errors.site_geopolitical) }}

  {{ form.custom(
    names=('location_lat', 'location_long'),
    id='field-location',
    label=_('Location'),
    values=(data.location_lat, data.location_long, false),
    error='') }}

  {{ form.input('collection_date',
    label=_('Sample Collection Date (year)'),
    id='field-start_date',
    placeholder=_('YYYY'),
    value=data.collection_date,
    error=errors.collection_date,
    classes=['control-medium']) }}

  {% block package_metadata_author %}
    <div data-module="quavonz-repeating">
      {%- set authors = data.get('author', []) + [''] -%}

      {%- for author in authors -%}
        <div class="control-repeating">
        {{ form.input('author' + '-' ~ loop.index,
          id='field-' + 'author' + '-' ~ loop.index,
          label='Collector' + ' ' ~ loop.index,
          placeholder='Bloggs, Jo',
          value=author,
          error=errors['author'],
          classes=['control-medium']
          ) }}
        </div>
      {%- endfor -%}
    </div>
  {% endblock %}

  {{ form.input('doi',
    label=_('DOI'),
    id='field-doi',
    placeholder=_('e.g. doi: 10.7931/J2PK0D34'),
    value=data.doi,
    error=errors.doi,
    classes=['control-medium']) }}


{% endblock %}
