<div class="module-promotion card box">   
  Welcome to the Quaternary Vegetation of New Zealand's Pollen Data Repository
    <p> <p>
    By using this site you agree to the
    <p>
    <a href={{url_for('quavonz.terms_of_use')}}>Terms of Use</a>
</div>
