{% extends "package/edit_base.html" %}

{% block primary_content %}
  <section class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% block primary_content_inner %}
        {% block form %}
          {#- passing c to a snippet is bad but is required here
              for backwards compatibility with old templates and
              plugins using setup_template_variables() -#}
          {{- h.snippet(form_snippet, c=c, **form_vars) -}}
        {% endblock %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          A QUAVONZ dataset is a collection of palaeorecords and metadata 
          (e.g., pollen counts, stratigraphy, radiocarbon dating...) relating to New Zealand's vegetation history. 
          Each dataset represents a specific sample (e.g., soil core, bones, coprolites) and its associated information.
          <br><br>
          For detailed descriptions of each metadata field, please download the 
          <a href="/QUAVONZ_metadata_descriptions.pdf" target="_blank" rel="noopener noreferrer">QUAVONZ Metadata Descriptions.pdf</a>.
        </p>
      </div>
    </section>
  {% endblock %}

  {% block resources_module %}
    {# TODO: Pass in a list of previously created resources and the current package dict #}
    {% snippet "package/snippets/resources.html", pkg={}, action='new_resource' %}
  {% endblock %}
{% endblock %}
