{% ckan_extends %}
{% block secondary_content %}

{% snippet "spatial/snippets/spatial_query.html", default_extent="[[-49.43,160.74], [-32.43,185.91]]" %}

<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

