
/* quavonz repeating */

.control-repeating .checkbox.btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 5px;
  height: 1px;
  width: 10px;
  padding: 3px 8px;

  -webkit-border-radius: 15px;
          border-radius: 15px;
  line-height: 21px;
}

.control-repeating .checkbox.btn input {
  display: none;
  width: auto;
}

@media (max-width: 767px) {
  .form-horizontal .control-repeating:first-child .controls input {
    width: 87%;
  }
}


/* Change the font for the site */
body {
  font-family: 'robotoregular', sans-serif;
  font-weight: normal;
}

.hero {
    background: rgb(230,231,232);
}


/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */
.account-masthead {
    background-color: rgb(178,29,40);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(255,255,255);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* ===========================================================
   The main masthead bar that contains the site logo, nav links, and search
   ===========================================================*/

.masthead .site-search input {
  padding: 4px 10px;
  width: 175px;
}

.masthead .navigation {
    margin-right: 0;
}

.masthead {
  color : black;
  background-color: rgb(255,255,255);
}
.masthead .navbar .navbar-nav  li a {
  color: black;
}
/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navbar .navbar-nav  li a:hover {
  background-color: rgb(96, 96, 96);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navbar .navbar-nav > li.active a{
  background-color: rgb(74, 74, 74);
  color: white;
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}



/* header */
header {
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 90px; /* 185 = works in both IE and Firefox, 250=good, 264=height of main background image */
padding-top: 15px; /* originally was 42, but 24 works better in IE at height 185 */
padding-bottom: 75px;
border-radius: 3px;
text-align: center;
line-height:120%;
}

/* Remove the feature image */
div.hero section.featured.media-overlay {
display: none;
}


/* homepage background image */
.homepage .hero {
    background-color: rgb(230,231,232);
    background-image: none;
    padding: 20px 0;
}

/* Style the content box */
.homepage .module-content {
    padding: 10px;
}
.homepage .box {
    padding: 10px;
  background-color : rgb(178,29,40);
}


/* Style the search box */
.homepage .module-search .module-content {
    background-color: rgb(230,231,232);
    color: black;
}
.homepage .search {
    color: black
}
.homepage .module-search .tags {
   background-color: rgb(178,29,40);
   height: 50px;
}
.homepage .search .icon-search {
   color : black
  background-color: black
}

/* List Box */
.homepage .dataset-heading a {
  color : white;
}
.homepage .empty {
  color : white;
}

/* homepage promoted box */
.module-promotion.card.box {
    background-image: url(./flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px; /* 185 = works in both IE and Firefox, 250=good, 264=height of main background image */
    padding-top: 15px; /* originally was 42, but 24 works better in IE at height 185 */
    padding-bottom: 75px;
    border-radius: 3px;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    line-height:120%;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */
.site-footer,
body {
  background-color: rgb(40, 40, 40);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}
      

/* =====================================================
   Links
   ===================================================== */
a {
    color: #009F77; text-decoration: none;
}
a:hover {
    color: #ff0000; text-decoration: underline;
}
a:active
{
    color: #009F77; text-decoration: none;
}
a:visited {
    color: #055F7B; text-decoration: none;
}

/* what do these do */
.form-horizontal .help-block {
  margin-left: 130px;
  margin-bottom: 1em;
  margin-top: -15px;
  padding-top: 0;
}
@media (max-width: 767px) {
  .form-horizontal .help-block {
    margin-left: 180px;
  }
}
@media (max-width: 480px) {
  .form-horizontal .help-block {
    margin-left: 0;
  }
}
